* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background: #7192c5!important;
}

.input {
  text-align: center;
  margin: 100px auto;
}

input[type="submit"] {
  padding: 15px 30px;
  background: #e7e7e7;
  border: none;
  border-radius: 1px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.input input[type="text"] {
  width: 600px;
  height: 55px;
  padding: 5px 10px;
  background: #e7e7e7;
  border: none;
  border-radius: 1px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.card {
  width: 50%;
  background: #e7e7e7;
  height: 40vh;
  margin: 50px auto;
  border-radius: 2px;
}

.close {
  float: right;
  margin-top: -2px;
  cursor: pointer;
  margin-right: 20px;
}

.card h1 {
  padding: 5px 0;
  text-align: center;
}

.card p {
  text-align: center;
  /* margin: 40px 0; */
  font-size: 20px;
}

.btn.btn-primary {
  width: 90%;
  margin: 10px;
}
ol,
ul {
  padding-left: 0px !important;
}

.card.col-3 {
  margin-right: 0.25rem;
  margin-left: -0.25rem;
}
.card.col-9 {
  margin-right: -0.25rem;
  margin-left: 0.25rem;
}
div#list5day {
  display: inline-flex;
}
.card.col-2 {
  background: #7192c5;
  color: #fff;
}
h6.card-subtitle.mb-2.text-muted {
  color: #fff !important;
}
#list5day p.card-text {
  font-size: 15px;
}
.card-body {
  padding: 10px !important;
}
h6.card-subtitle.mb-2.text-muted {
  text-align: center;
}
h5.card-title {
  text-align: center;
}
.card-body.main {
  display: inline-flex;
}
a.navbar-brand {
  font-size: 50px;
}
.bg-light {
  --bs-bg-opacity: 1;
  /* background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important; */
  background-image: url(https://thumbs.dreamstime.com/b/big-blue-sky-white-clouds-large-hi-res-file-33863007.jpg);
  height: 250px;
}
.card-header {
  background: #7192c5!important;
  height: 80px;
  color: #fff!important;
  margin-bottom: 20px;
    text-shadow: 3px 3px black;
    font-size: 30px;
  
}
.navbar-brand {

  color: #fff!important;

  text-shadow: 3px 3px black;
}
input#myInput {
  width: 600px;
}

.bg-light {
  /* --bs-bg-opacity: 1; */
  /* background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important; */
  border-bottom: 30px solid #000;
}
input.submit.btn {
  border: 1px solid black;
  background: #7192c5;
  color: #fff;
  
}
.btn:hover {
  /* color: var(--bs-btn-hover-color); */
  /* background-color: var(--bs-btn-hover-bg); */
  /* border-color: var(--bs-btn-hover-border-color); */
  background: #fff!important;
  color: #7192c5!important;
}
button.btn.btn-primary {
  background: #7192c5;
  text-shadow: 1px 1px black;
}
.range.col-12 {
  display: flex;
}
img.iconpic {
  width: 100px;
}
p.desc {
  margin-top: -30px;
  font-weight: 700;
}
p.cels {
  font-size: 50px;
}
button.uvbutton {
  border-radius: 5px;
  color: #fff;
}
button#uvInfo {
  font-size: 40px;
  text-shadow: 1px 1px white;
  /* padding-bottom: 5px; */
  margin-bottom: 9px;
  font-weight: 700;
}
button.uvbutton {
  padding: 10px;
  font-size: 40px;
}
p.uvbutton {
  width: 50%;
  margin-left: 25%;
  border-radius: 25px;
  text-shadow: 1px 1px white;
  font-weight: 700;
  font-size: 40px;
}
.range.col-12 {
  font-weight: 700;
  text-shadow: 1px 1px white;
}
.card.col-9 {
  background: lightgrey;
}
.card.col-3 {
  background: lightgrey;
}
h2.heading {
  text-align: center;
  text-shadow: 1px 1px white;
}